section {
  display: inline-block;
  width: 400px;
  margin: auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
  color: rgb(26, 26, 26);
  min-height: 300px;
}

.reg-section {
  grid-column: 1/2;
}

.reg-element {
  padding: 5px;
}

.reg-element label {
  padding-right: 8px;
  min-width: 160px;
  display: inline-block;
  text-align: left;
}

.sign-up-button {
  display: block;
  margin: auto;
  margin-bottom: 5px;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: lightblue;
  margin-bottom: 16px;
}