.App {
  height: max-content;
  min-height: 100vh;
  padding-top: 3%;

  background: rgb(32,32,32);
  background: linear-gradient(213deg, rgba(32,32,32,1) 0%, rgba(20,20,29,1) 80%, rgba(17,19,23,1) 100%);
}

@media only screen and (min-width: 768px) {
  .App {
    padding-top: 1%;
  }
}