.start-practicing {
  color: black;
}

.start-practicing:visited {
  color: black;
}

.practice-list {
  list-style: none;
  margin-left: -10%;
  text-align: center;
}

.dashboard-word {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(214, 214, 214);
  border-radius: 7px;
  padding: 5px;
}

.dashboard-word h4 {
  display: inline-block;
  margin: auto;
  font-size: 20px;
}

.dashboard-word div {

}
