nav {
  margin-top: 15%;
}

header {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: darkred;
}

.subtitle {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-style: italic;
  font-weight: 200;
  margin-top: 0;

  position: relative;
  top: -17px;
}

.main-header h1 {
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  font-size: 51px;
  position: relative;
  bottom: 25px;
  margin-bottom: 0;
  padding-bottom: 5px;

  border-bottom: 1px solid white;
}

.main-header a {
  text-decoration: none;
  padding: 5px;
  color: white;
}

.logged-nav {
  display: inline-block;
}

.logout-link {
  float: right;
  min-width: 100px;
  width: 100%;
}

.logged-user {
  display: inline-block;
  float: none;
  padding: 5px;
  color: white;
  font-style: italic;
}